<p id="notice"><%= notice %></p>

<p>
  <b>Facebook:</b>
  <%= @sony.facebook_id %>
</p>

<p>
  <b>Intentos:</b>
  <%= @sony.intentos %>
</p>

<p>
  <b>Amigos share:</b>
  <%= @sony.amigos_share %>
</p>


<%= link_to 'Edit', edit_sony_path(@sony) %> |
<%= link_to 'Back', sonies_path %>
